version: '2'

services:
  mongodb:
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
    volumes:
      - ./data/db:/data/db
    ports:
      - 127.0.0.1:27017:27017
  app:
    build: .
    env_file:
      - ./.env
    environment:
      - MONGODB_URI=mongodb://mongodb/aquizz
    links:
      - mongodb
    depends_on:
      - mongodb
# TEMP:
#    ports:
#      - 127.0.0.1:5000:5000
  nginx:
    image: nginx
    volumes:
      - "./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - 0.0.0.0:80:80
    links:
      - app
    depends_on:
      - app