body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://farm8.staticflickr.com/7473/15031178043_eb78aa345a_k.jpg");
}

/* Loader */
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 3;
  background: rgba(255, 255, 255, 0.8);
}

.spinner > div {
  position: relative;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/**/
.option-container {
  padding: 10px 20px;
}

.complete-message {
  margin: auto;
  width: 60%;
}


/* Mobile */
@media all and (max-width: 481px) {
  .aquizz-app {
    margin: 30px 10px 20px 10px;
  }
  .complete-message {
    width: 80%;
  }
  .quiz-intro-container {
    margin-top: 80px;
  }

}

/* Desktop */
@media all and (min-width: 482px) {
  .aquizz-app {
    margin: 50px 200px 50px 200px;
  }
  .complete-message {
    width: 50%;
  }
}

.complete-reaction {
  margin: 20px 20px 20px 20px;
  max-width: 80%;
}
